.w3-container
	h1.w3-text-blue Photos de #{name}
	.w3-center
		.w3-container
			h1.w3-blue.w3-animate-top Mes photos 
			h2.w3-red {{erreur}}
		br
		.w3-container(ng-if="loading", ng-init="loading=false").w3-animate-fading
			p.w3-jumbo.w3-text-blue Chargement ...
		.w3-center
				ul.w3-pagination.w3-border.w3-round
					li(ng-if="previous")
						a.w3-btn.w3-white(ng-click="getPhotos(previous)") &#10094; Previous
					li(ng-if="next")
						a.w3-btn.w3-white(ng-click="getPhotos(next)") Next &#10095;
		.w3-padding-8.w3-center
			.app(ng-repeat="photo in myPhotos ")
				.w3-col.l3.m6.s6
					//a(href="/photos?album_id={{album.id}}")	
					.w3-content.w3-animate-right.w3-hover-opacity(ng-class="{'w3-blue': isSelected(photo.id)}")
						//.w3-container: input.w3-check.w3-left(type="checkbox",ng-show="selection_mode")
						.w3-label.w3-red(ng-show="isSelected(photo.id)")
						.w3-display-container.w3-container(ng-click="selectionner(photo.id)")
							.w3-center
								img.w3-hover-border-blue(src="https://graph.facebook.com/{{photo.id}}/picture?access_token={{token}}", style="width:100%;height:100%;",align="middle") 

								.w3-display-bottomleft.w3-container
									h5.w3-yellow.w3-round: b: i.fa.fa-clock-o {{photo.created_time|human_readable_time}}
						br
			

		h3.w3-padding-32.w3-text-indigo(ng-show="!pic_available",ng-init="pic_available=true").w3-center Aucune photo n'est disponible
		.w3-bottom.w3-right(ng-show="isModeSelection()")
			button.w3-btn.w3-blue.w3-jumbo(ng-click="save()").w3-animate-bottom Sauvegarder ({{selectedPics}})